.Menu {
    position: relative;
    top: 0px;
    z-index: 1;
    height: 90px;
    width: 100vw;
    position: fixed;
    border-bottom: solid 2px;
    background: rgba(168, 139, 139, 0.507);
    border-color: rgba(250, 235, 215, 0.836);
    display: flex;
    font-family: 'Akshar', sans-serif;
    //font-family: 'Dancing Script', cursive;
    font-size: larger;
}

.logo {
    display: inline-block;
    height: 100%;
    &__name {
        padding: 10px 10px;
        font-size: 2.5rem;
    }
    &__mail {
        display: block;
        text-decoration: none;
        color: white;
        font-size: 1rem;
        padding-left: 20px;
    }
}

.nav {
    display: inline-block;
    width: 100vw;
    //margin-left: 20%;
}

.ulflex {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 50px;
    padding-top: 15px;
}

.ulflex__v2 {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    //flex-wrap: wrap;
    gap: 25px;
    padding-top: 15px;
    padding-left: 4px;
    align-items: center;
}

li a {
    text-decoration: none;
    color: white;
}

//menu
.menu-icon-wrapper.m4 svg path {
    transition: stroke-dasharray 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}


/* For this pen demo purpose only */

.m4 {
    width: 170px;
    margin-right: 100px;
}

.container {
    margin: 20px;
    display: flex;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.menu-icon-wrapper {
    position: relative;
    left: 0;
    top: 0;
    width: 110px;
    height: 110px;
    pointer-events: none;
    transition: 0.1s;
}

.menu-icon-wrapper svg {
    position: absolute;
    top: -18px;
    left: -18px;
    -webkit-transform: scale(0.15);
    transform: scale(0.15);
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.menu-icon-wrapper svg path {
    stroke: #e5e7e2;
    stroke-width: 40px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
    transition: stroke-dasharray 1s;
}

.menu-icon-wrapper svg path.path1 {
    stroke-dashoffset: 5803.15px;
    stroke-dasharray: 2901.57px, 2981.57px, 240px;
}

.menu-icon-wrapper svg path.path2 {
    stroke-dashoffset: 800px;
    stroke-dasharray: 400px, 480px, 240px;
}

.menu-icon-wrapper svg path.path3 {
    stroke-dashoffset: 6993.11px;
    stroke-dasharray: 3496.56px, 3576.56px, 240px;
}

.menu-icon-wrapper.open svg path.path1 {
    stroke-dasharray: 2901.57px, 5258.15px, 240px;
}

.menu-icon-wrapper.open svg path.path2 {
    stroke-dasharray: 400px, 600px, 0px;
}

.menu-icon-wrapper.open svg path.path3 {
    stroke-dasharray: 3496.56px, 6448.11px, 240px;
}

.menu-icon-wrapper .menu-icon-trigger {
    position: relative;
    width: 100%;
    height: 100%;
    cursor: pointer;
    pointer-events: auto;
    background: none;
    border: none;
    margin-left: 40px;
    padding: 0;
}

button:focus,
button:active {
    outline: none;
}

.sidebar {
    //position: absolute;
    margin-right: 2px;
    width: 100vw;
    background: rgb(163, 107, 107);
    border-style: solid;
    border-color: white;
}

.active {
    display: none;
    position: absolute;
    //z-index: -1;
    //transform: translateY(-260px);
    //transition: transform .4s .1s;
}

.kontakt {
    font-size: 2rem;
    color: rgb(139, 58, 37);
    cursor: zoom-in;
}

@media screen and (max-width: 1334px) {
    .ulflex {
        display: none;
    }
}

@media screen and (min-width: 1334px) {
    .hamburger {
        display: none;
    }
}

// @media screen and (min-width: 1062px) {
//     #menu-icon-wrapper-4 {
//         display: none;
//     }
// }