img {
    max-width: 100%;
    height: 100%;
}

.ul__style {
    font-size: 15px;
    color: #e9e6e3;
    list-style: inside;
    line-height: 30px;
}

.boxcar {
    margin: 2% auto;
    //height: 250px;
    width: 90vw;
    background: #776041;
    display: grid;
    grid-template-columns: minmax(250px, 300px) 5px auto;
    &__border {
        background: $wtf;
        &--two {
            margin: 30px 2px;
            border-left: 1px solid rgb(177, 166, 166);
        }
    }
    &__image {
        // min-width: 200px;
        //margin: 2px;
        ////test!!!!!!!!!!!!!!!!!!!
        background: red;
    }
    &__info {
        display: grid;
        grid-template-columns: 43% 2px auto;
        grid-template-rows: 200px;
        //background: orange;
        //width: 100%;
        // margin: 5px;
        &--auto {
            margin-left: 20px;
            font-size: 20px;
        }
        &--price {
            // display: grid;
            //grid-template-columns: repeat(8, 1fr);
            //gap: 5px;
            //margin: 10px 10px;
        }
    }
}

.box__price {
    //  background: black;
    //  display: flex;
    // justify-content: center;
    // align-items: center;
}

p {
    //display: flex;
    justify-content: center;
    align-items: center;
}