.Front__wyposazenie {
    position: fixed;
    //margin-top: -20vw;
    //overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-image: url(https://images.pexels.com/photos/4620555/pexels-photo-4620555.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-size: cover;
    background-repeat: repeat;
    z-index: -1;
}

.wall {
    //position: fixed;
    //height: 100vh;
    //width: 100vw;
    margin-top: 10vh;
    background: rgba(31, 101, 122, 0.897);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wyposazenie {
    //margin-top: 40vh;
    color: white;
    width: 50vw;
    &__list {
        font-size: 1.3rem;
        color: rgb(67, 226, 80);
    }
}

.wyposazenie p {
    text-indent: 1.5em;
    font-size: 1.2em;
}